<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xo.fredtan.lottolearn.course.dao.UserCourseMapper">
    <select id="selectUserCourses" resultType="xo.fredtan.lottolearn.domain.course.Course">
        select
               c.id,
               c.name,
               c.visibility,
               c.description,
               c.teacher_id,
               t.name as term_name,
               c.credit,
               c.pub_date,
               c.status,
               uc2.user_nickname as teacherName
        from
             user_course uc
                 left join course c
                     on uc.course_id = c.id
                 left join term t
                     on c.term_id = t.id
                 left join user_course uc2
                     on uc2.user_id = c.teacher_id and uc2.course_id = c.id
        where
                uc.user_id = #{userId} and uc.status = 1
            and
                c.status = #{query.status}
        <if test="query.teacher != null">
            and uc.is_teacher = #{query.teacher}
        </if>
        order by
            uc.enroll_date desc
    </select>
</mapper>