# MySQL（必须，无默认值）
MYSQL_USERNAME=lottolearn
MYSQL_PASSWORD=lottolearn

# Redis、RabbitMQ端口（可选，有默认值）
REDIS_PORT=6379
RABBITMQ_PORT=5672

# JDBC连接不支持单独配置端口，项目默认MySQL端口为3306，
# 若需要修改为其他端口则需要到每个模块的application.yml进行配置

# OAuth第三方登录（可选，不使用OAuth第三方登录可不配置）
# GitHub
GITHUB_CLIENT_ID=1a2b3c4d5e6f7g8h9i
GITHUB_CLIENT_SECRET=1a2b3c4d5e6f7g8h9i
# 微博
WEIBO_APP_KEY=1a2b3c4d5e6f7g8h9i
WEIBO_APP_SECRET=1a2b3c4d5e6f7g8h9i

# 用于签名和校验JWT的密钥存放位置（可选，有默认值）
KEY_STORE_DIR=/tmp/lottolearn/keys

# H2数据库（可选，不进行调试可不配置）
H2_USERNAME=ws
H2_PASSWORD=ws

# 视频存储（可选，有默认值）
# 章节文件存放路径
STORAGE_BASE_PATH=/tmp/lottolearn/storage
# 视频文件存放路径
MEDIA_BASE_PATH=/tmp/lottolearn/media

# 视频转码（可选，有默认值，若其中一个找不到则放弃转码直接重命名文件）
FFMPEG_PATH=/usr/local/bin/ffmpeg
BENTO4_PATH=/usr/local/bin/bento4
